FORMAT: 1A
HOST: http://www.google.com

# LazyTimes
LazyTimes API is a simple time report tool.

# Group Report
Time report related resources of the **LazyTimes API**

## Reporting [/report]
### Report [POST]
+ Request (application/json)

        { 
            "project": "jetpak",
            "duration": { 
                "amount": 8,
                "unit": "hours"
            },
            "date": 2014-05-13
        }
        
+ Response 200 
          


## Reporting [/report/{project}/{time_unit}]
### Report [POST]
+ Response 201 (application/json)

        { "id": 1,
        }

## Reporting [/report/{project}/{date}/{time_unit}]
### Report [GET]
+ Response 201 (application/json)

        { "id": 1,
        }

## Notes Collection [/notes]
### Report [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Jogging in park"
        }, {
          "id": 2, "title": "Pick-up posters from post-office"
        }]

### Create a Note [POST]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Note [/notes/{id}]
A single Note object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204
